<style>
  body{
    margin:0;
  }
  a{
    color:black;
    text-decoration: none;
  }
  .saw{
    color:gray;
  }
  h1{
    font-size:60px;
    margin:0;
    text-align: center;
    border-bottom:2px solid gray;
    padding:30px;
  }
  h3{
    font-weight:lighter;
  }
  .welcome{
    color:navy;
    font-weight:lighter;
  }
  h4{
    color:yellowgreen;
    margin:0;
    margin-bottom:10px;
  }
  #grid ol{
    border-right:2px solid gray;
    margin-left:20px;
    margin-top:0;
    padding:20px;
    width:100px;
  }
  #grid{
    display:grid;
    grid-template-columns:200px 0.7fr;
  }
  @media(max-width:800px) {
    #grid{
      display:block;
    }
    #grid ol{
      border-right:none;
    }
    h1{
      border-bottom:none;
    }
  }
</style>
